$primaryTextColor: rgb(255, 255, 255);
$primaryBackgroundColor: rgb(0, 0, 0);
$defaultFontSize: 16px;
$boxOffBackground: rgb(210, 210, 210);
$boxOnBackground: rgb(39, 146, 29);
$boxHoverColor: rgb(0, 139, 174);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: $primaryBackgroundColor;
  color: $primaryTextColor;
}

.debug {
  border: 1px solid red;
}

nav {
  text-align: center;
  padding: 20px 0px;
  font-size: $defaultFontSize + 4px;
  background-color: hsl(0, 0%, 10%);
  box-shadow: 0px 5px 10px 0px rgb(33, 33, 33);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.main_grid {
  padding: 0px;
  margin: 10px 0px 30px 0px;
  display: grid;
  box-shadow: 0px 0px 5px 0px #fff;
}

.box {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin: 0px;
  margin-right: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: $boxOffBackground;
}

.on {
  background-color: $boxOnBackground;
}

.box:hover {
  background-color: $boxHoverColor;
}
